body {
    background: #f7931a;
    color: white;
    text-align: center;
}
h1 {
    font-weight: bold;
    margin:0;
    font-size: 166px;
    line-height: 0.9;
    font-family: sans;
}
ul {
    list-style: none;
}
i {
    font-size: 0.7em;
}
