body {
    background: #f7931a;
    color: white;
    text-align: center;
    margin: 0;
}
caption {
    text-align:center;
}
h1 {
    font-weight: bold;
    margin:0;
    font-size: 666px;
    line-height: 0.9;
    font-family: sans;
}
h2 {
    font-weight: bold;
    margin:0;
    font-size: 30px;
    line-height: 0.9;
    font-family: sans;
}
h3 {
  font-weight: bold;
  color: #333;
  margin: 0;
  font-size: 18px;
}

section {
    padding: 24px;
    margin: 24px 0;
}
#team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
}
.team {
    padding: 24px;
    margin: 24px;
    color: orange;
    background: white;
    box-sizing: border-box;
    /* border-radius: 130px; */
    border-radius: 100%;
}
.team img {
    width: 210px;
}
.team a:visited,
.team a {
    color: #333;
}

p {
  margin-top: 0px;
}

img {
    width: 50%;
    border-radius: 100%;
}
ul {
    margin:0;
    padding: 0;
    list-style: none;
}
i {
    font-size: 0.6em;
}

a, a:visited {
    color: white;
}

.frame {
    width: 124px;
    height: 248px;
    background: #333;
    margin: 24px auto 0;
    overflow: hidden;
}
iframe {
    border: 20px solid black;
    width: 1200px;
    height: 2442px;
    transform: scale(0.1);
    transform-origin: top left;
}

.ordinals embed,
.ordinals img {
    width: 200px;
}

.ordinals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #222;
}
.ordinal {
    padding: 9px;
}

.ordinals > a {
    text-align: center;
}
